    <div class="play-bar">
      <div id="play-bar">
        {{!-- Track informatie  --}}
      </div>

    {{!-- Dit moet 1 button worden die je kan flippen --}}
      {{!-- <button data-control="pause" >

      </button> --}}
    </div>