<div class="center-wrap">
    <div>
        <h1>{{title}}</h1>
        <button class="button"><i class="fab fa-spotify"></i> LOGIN WITH SPOTIFY</button>
    </div>
</div>
{{!-- Hier komt waarschijnlijk een login als de user nog niet ingelogd is of de homepagina als de browser wel de user herkent, mogelijk met redirect? --}}