// https://fontawesome.com/how-to-use/on-the-web/using-with/sass
@import "helpers/fontawesome/scss/fontawesome.scss";
@import "helpers/fontawesome/scss/solid.scss";
@import "helpers/fontawesome/scss/brands.scss";

@import 'helpers/functions';
@import 'helpers/fonts';
@import 'helpers/partials';
@import 'helpers/move_later_player';


html,body{
    margin: 0;
    font-family: spotify-black;
    background: color(Black);
    height: 100%;
}

.center-wrap{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        margin-top: 0;
        text-align: center;
    }
}

.button{
    color: color(Primary);
    font-family: spotify-bold;
    background: color(Green);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}